.error-text,
.error-icon {
  display: none;
}
.field-group.error .error-icon {
  width: 30px;
}

.field-group.error .error-text,
.field-group.error .error-icon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.field-group.error input {
  border: 2px solid hsl(0, 100%, 74%);
}

.contactTitle p {
  margin: auto;
  padding: 10px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.formContainer {
  width: 70%;
  border-radius: 5px;
  background-color: transparent;
  margin: auto;
  margin-bottom: 5rem;
}

#form {
  padding: 20px;
  width: 100%;
}

.contact-title {
  font-size: 2rem;
  color: #0088cc;
  text-align: center;
}

.contact-text p {
  font-size: 1rem;
  opacity: 0.7;
  text-align: center;
  padding: 10px;
  width: 70%;
  margin: auto;
  line-height: 1.6;
}

.btn-primary {
  border: none;
  width: 20%;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .contact-text p {
    font-size: 0.7rem;
  }
  .btn-primary {
    width: 40%;
  }
}
