*,
::before ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Aktivgrotesk, sans-serif;
  background: #f2f5f8;
}

/* Navbar container */
.navbar {
  background-color: #fff;
  font-family: Aktivgrotesk, sans-serif;
  position: sticky;
  z-index: 4;
}

/* Links inside the navbar */
.navbar a {
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.social-icons img {
  cursor: pointer;
  width: 1.5625rem;
  max-width: 100%;
}

.navegation-right {
  display: flex;
  justify-content: center;
}

/* Add a red background color to navbar links on hover */
.navbar .home-link:hover,
.news-link:hover {
  color: #0088cc;
}

/* addition to your existing code */
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #283338;
  height: 250px;
}

/* Style links inside the columns */
.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color on hover */
.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.w-nav-menu {
  display: flex;
  justify-content: center;
  padding: 35px;
  height: 80%;
}

.navegation-container {
  display: flex;
  width: 100%;
}

.logo {
  width: 200px;
}
.logo-img {
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
}
.navbar-icons-social {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.9375rem;
  justify-content: center;
  padding-top: 10px;
  padding-left: 20px;
}

.navbar-icons-social img {
  cursor: pointer;
  width: 1.5625rem;
}

.navbar-icons-social:hover img:hover {
  opacity: 0.7;
}
.navbar {
  padding: 1rem;
}

/* buttons */
.btn,
.button_contact {
  background-color: #0088cc;
  padding: 1rem 1rem;
  border-radius: 90px;
  color: black;
  font-size: 1rem;
}

.btn:hover,
.button_contact:hover {
  opacity: 0.8;
}

.demo-btn {
  background-color: #0088cc;
  border: none;
  padding: 1rem 1rem;
  font-size: 1rem;
  margin-top: 20px;
  color: black;
}

.home {
  height: 100vh;
  position: relative;
  background-color: #193e47;
}

video {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.home-content {
  position: absolute;
  width: 40rem;
  margin: auto;
  top: 150px;
  color: #fff;
  z-index: 3;
  margin: auto;
  margin-left: 80px;
}

.home-content h1 {
  font-family: Aktivgrotesk, sans-serif;
  text-align: left;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.1;
  margin: 0 auto;
}

.inteligentAi {
  font-family: Aktivgrotesk, sans-serif;
  font-size: 3rem;
  color: #0088cc;
  font-weight: 700;
}

.big_subtitle {
  margin-top: 6px;
  font-family: Aktivgrotesk, sans-serif;
  font-size: 2rem;
  color: #aab0b6;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: center;
}

.box {
  position: relative;
  align-content: center;
  width: 556px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
}

.box .imgBx {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
}
.box .imgBx img {
  margin-left: 25px;
  width: 90%;
  height: 80%;
  transition: 0.5s;
  object-fit: cover;
}

.box:hover .imgBx img {
  opacity: 0;
}

.box .content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: #0088cc;
  transition: 0.5s;
  overflow: hidden;
  padding: 2px;
  box-sizing: border-box;
}

.box:hover .content {
  width: 100%;
  height: 100%;
  left: 0;
}

.main-title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  align-content: center;
  margin: 20px;
}

.main-text {
  align-content: center;
  margin: auto;
  font-size: 1rem;
  opacity: 0.7;
  line-height: 1.6;
}

.two-col-grid {
  grid-column-gap: 5.25rem;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-left: 5%;
  padding-right: 5%;
  display: grid;
}

.ol {
  border: 3px solid #0088cc;
  width: 150px;
  margin-top: 50px;
}

.line-white {
  border: 1.5px solid #fff;
  width: 50%;
}

.content p {
  font-size: 1.1rem;
  font-weight: 200;
  color: #fff;
  padding: 7px;
}

#credit-icon {
  width: 18%;
  height: 18%;
  padding: 20px 20px 0px 20px;
  object-fit: cover;
  overflow: hidden;
  z-index: 7;
}
.grid-title {
  font-size: 2rem;
  font-weight: 100;
  padding: 20px;
}
.benefits-section {
  background: #0088cc;
}

.benefits-section h2 {
  font-size: 2rem;
  text-align: center;
  color: #fff;
  font-weight: 300;
}

.benefits-grid {
  margin: auto;
  padding: 30px;
  margin-top: 2rem;
  grid-column-gap: 35px;
  grid-row-gap: 30px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  height: 100%;
  transition: 0.5s;
}

.col-sm-4 img {
  width: 80px;
}

.text-info {
  line-height: 1.6;
  opacity: 0.7;
  color: #fff;
}

.feature-box-info h4 {
  font-size: 1.3rem;
  color: #fff;
}

.grid-content p {
  font-size: 1rem;
  width: 90%;
  padding: 0px 10px;
  opacity: 0.7;
  line-height: 1.6;
}

.grid-content h3 {
  font-size: 2rem;
  opacity: 0.8;
}

.two-col-grid {
  margin-top: 2rem;
}

.two-col-grid img {
  width: 70%;
}

.ol2 {
  float: right;
}

.analytics-grid {
  display: grid;
  grid-row-gap: 15px;
  grid-column-gap: 1px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 70px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.analytics-text {
  width: 80%;
}

.analytics-title {
  text-align: center;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 60px;
  font-size: 50px;
  font-weight: 500;
  line-height: 120%;
  opacity: 0.7;
}

.analytics-icon {
  width: 80%;
}
.companies-grid {
  display: grid;
  margin-left: 6rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.company-box {
  width: 250px;
  height: 350px;
  border-radius: 10px;
}

.imgCompany {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  margin: 10px;
}

.box-main-content {
  text-align: center;
}

.box-main-content h4 {
  font-size: 1.3rem;
}
.box-main-content p {
  font-size: 1rem;
  opacity: 0.7;
  padding-left: 10px;
  padding-right: 10px;
}
.imgCompany img {
  margin-left: 4rem;
  width: 40%;
  text-align: center;
}
.box-main-content {
  width: 100%;
}
.company-text {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.companies-title {
  font-size: 2rem;
  text-align: center;
  color: #fff;
  font-weight: 300;
}

.company-content p {
  line-height: 1.6;
  padding: 20px;
  font-size: 1rem;
}

.companies-section {
  background: #0088cc;
}

#smarteller-icon {
  width: 50%;
  margin: auto;
}

.implement-content h4 {
  font-size: 2rem;
  opacity: 0.8;
}

.implement-content {
  margin-top: 4rem;
}

/* footer styles */
.footer {
  display: grid;
  place-items: center;
  text-align: center;
  gap: 1.875rem;
  background-color: #00adee;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.footer-icons-social {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.9375rem;
}

.footer-icons-social img {
  cursor: pointer;
  width: 1.5625rem;
}

.footer-nav {
  display: grid;
  line-height: 2.2;
  list-style-type: none;
  padding: 0;
}

.footer-nav a {
  color: hsl(0, 0%, 100%);
  font-weight: 300;
}

.footer-nav p {
  font-size: 0.9375rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.arrow {
  width: 50px;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* Media Queries */

@media only screen and (min-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}
/* Navbar styles for small screens */
@media screen and (max-width: 600px) {
  .logo-img {
    width: 40%;
    height: 100%;
  }
  .w-nav-menu {
    position: fixed;
    z-index: 5;
    left: -130%;
    top: 1rem;
    flex-direction: column;
    background-color: #fff;
    height: 50%;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .navegation-right {
    padding-top: 15px;
    display: grid;
  }
  .navbar-icons-social {
    grid-template-columns: repeat(3, 1fr);
    width: 70px;
  }

  .navegation-container {
    display: grid;
    grid-template-columns: 1fr 95px;
    width: 100%;
  }

  .nav-link {
    margin: 2.5rem 0;
  }

  .w-nav-menu.active {
    left: 0;
  }

  .hamburger {
    display: block;
    margin-top: 20px;
    cursor: pointer;
    z-index: 5;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Navbar for medium screens */

@media screen and (max-width: 1000px) {
  .logo-img {
    width: 40%;
    height: 100%;
  }
  .w-nav-menu {
    position: fixed;
    z-index: 5;
    left: -130%;
    top: 1rem;
    flex-direction: column;
    background-color: #fff;
    height: 50%;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .navegation-right {
    padding-top: 15px;
    display: grid;
  }
  .navbar-icons-social {
    grid-template-columns: repeat(3, 1fr);
    width: 70px;
  }

  .navegation-container {
    display: grid;
    grid-template-columns: 1fr 95px;
    width: 100%;
  }

  .nav-link {
    margin: 2.5rem 0;
  }

  .w-nav-menu.active {
    left: 0;
  }

  .hamburger {
    display: block;
    margin-top: 20px;
    cursor: pointer;
    z-index: 5;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* main content for small screens */
@media screen and (max-width: 600px) {
  .home {
    background: #f2f5f8;
  }
  .home-content {
    margin: auto;
    margin-left: 20px;
    line-height: 1.6;
    width: 100%;
  }
  .home-content h1 {
    font-size: 1.5rem;
  }
  .inteligentAi {
    font-size: 1.2rem;
  }
  .big_subtitle {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 10px;
  }

  video {
    height: 90%;
  }
  .two-col-grid {
    margin-top: 0;
    grid-column-gap: 2rem;
  }
  .main-title {
    font-size: 1rem;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
  }
  .main-text {
    font-size: 0.7rem;
    margin-left: 15px;
  }
  .box {
    margin-top: 10px;
    width: 180px;
    height: 190px;
  }
  .box .imgBx {
    display: flex;
    justify-content: center;
    align-content: center;
    object-fit: cover;
    width: 100%;
    height: 50%;
    top: 25%;
  }
  .box .imgBx img {
    margin-left: 0;
  }
  .content p {
    font-size: 0.5rem;
  }
  .benefits-section h2 {
    font-size: 1.4rem;
  }
  .benefits-grid {
    padding: 20px;
    grid-template-columns: 1fr;
  }
  .two-col-grid {
    display: block;
    padding-left: 0;
  }
  .two-col-grid img {
    width: 50%;
    height: 50%;
  }
  .grid-content h3 {
    font-size: 1.4rem;
    line-height: 1.3;
  }
  .scnd-btn {
    font-size: 10px;
    margin-left: 20px;
  }
  .ol2 {
    float: none;
  }
  .analytics-title {
    font-size: 30px;
    padding-right: 20px;
    margin-bottom: 0;
  }
  .analytics-grid {
    padding: 20px;
    grid-column-gap: 4px;
  }
  .analytics-icon {
    width: 50%;
  }
  .companies-title {
    font-size: 1.5rem;
  }
  .companies-grid {
    justify-content: center;
    grid-template-columns: 1fr;
  }

  .imgCompany img {
    margin-left: 3rem;
  }

  .box-main-content h4 {
    font-size: 0.8rem;
  }
  .box-main-content p {
    font-size: 0.5rem;
  }

  #implement-grid {
    display: grid;
  }
  .implement-content h4 {
    font-size: 1.3rem;
    margin-left: 10px;
  }
  #implement-btn {
    font-size: 10px;
    margin: 0 auto;
    margin-left: 10px;
  }
  #smarteller-icon {
    width: 70%;
    height: 70%;
  }
  .footer-icons-social {
    grid-template-columns: repeat(2, 1fr);
  }

  .ol {
    margin-top: 0;
  }
}

/* footer for small screens */
@media (min-width: 58.125rem) {
  .footer {
    grid-template-columns: 20% 26% auto;
    place-items: center;
    gap: 5.625rem;
  }

  .footer-logo {
    width: 100px;
    grid-column-start: 1;
    grid-row-start: 1;
    place-self: first baseline;
  }

  .footer-icons-social {
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self: flex-start;
  }

  .footer-icons-social img {
    width: 1.25rem;
    margin: 0 auto;
    transition: ease all 100ms;
  }

  .footer-icons-social img:hover {
    opacity: 0.7;
  }

  .footer-nav {
    grid-template-columns: 4.3rem 1fr 1fr;
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
    list-style-type: none;
  }

  .footer-nav a {
    transition: ease all 100ms;
  }
  .footer-nav a:hover {
    opacity: 0.7;
  }

  .footer-copy {
    grid-column-start: 4;
    grid-row-start: 1;
    place-self: last baseline;
    width: 100%;
  }

  .footer-btn {
    grid-column-start: 4;
    place-self: baseline;
    justify-self: baseline;
    grid-row-start: 1;
    grid-column-end: 4;
    justify-self: last baseline;
  }
}
